<div class="border-border bg-background border-t min-h-screen">
  <div class="grid lg:grid-cols-6">
    <app-side-menu />
    <div class="lg:col-span-5">
      <div class="h-full px-4 py-6 lg:px-8">
        <div hlmTabsContent="music_tab" class="w-full">
          <div class="mt-5 space-y-1">
            <h2 class="text-2xl font-semibold tracking-tight">
              Search position
            </h2>
            <input
              class="max-w-80 w-full"
              hlmInput
              placeholder="Search"
              type="search"
              [ngModel]="searchText"
              (ngModelChange)="searchKey($event)"
            />
          </div>

          <brn-separator hlmSeparator />

          <div class="mt-2 pb-4">
            <div
              class="mt-2 grid grid-cols-2 gap-4 sm:grid-cols-3 lg:grid-cols-6"
            >
              @for (position of positions; track position.search) {
              <a [routerLink]="position.search">
                <figure class="space-y-4">
                  <picture
                    class="group relative block w-full overflow-hidden rounded-md"
                  >
                    <img
                      [src]="position.img"
                      class="bg-border aspect-video w-full object-cover transition-transform group-hover:scale-110"
                    />
                  </picture>
                  <figcaption class="space-y-1 text-sm">
                    <h3 class="font-medium leading-none">
                      {{ position.name }}
                    </h3>
                  </figcaption>
                </figure>
              </a>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
